---
import Container from '../components/Container.astro';
import Layout from '../layouts/Page.astro';
import ContactForm from '../components/ContactForm.astro';
---

<Layout>
  <Container narrow topPadding bottomPadding>
    <h1>Contact Me</h1>
    <p>Use the form below to contact me and I will get back to you as soon as possible.</p>
    <ContactForm />
  </Container>
</Layout>
